In [1]:
import pandas as pd

completed_orders = pd.read_csv('data/completed_orders.csv')

completed_orders.head()

,Trip ID,Trip Origin,Trip Destination,Trip Start Time,Trip End Time
0,391996,"6.508813001668548,3.37740316890347","6.650969799999999,3.3450307",2021-07-01 07:28:04,2021-07-01 07:29:37
1,391997,"6.4316714,3.4555375","6.4280814653326,3.4721885847586",2021-07-01 06:38:04,2021-07-01 07:07:28
2,391998,"6.631679399999999,3.3388976","6.508324099999999,3.3590397",2021-07-01 06:21:02,2021-07-01 07:02:23
3,391999,"6.572757200000001,3.3677082","6.584881099999999,3.3614073",2021-07-01 07:16:07,2021-07-01 07:29:42
4,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36

In [4]:
completed_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 535999 entries, 0 to 535998
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Trip ID           535999 non-null  int64
 1   Trip Origin       535999 non-null  object
 2   Trip Destination  535999 non-null  object
 3   Trip Start Time   535999 non-null  object
 4   Trip End Time     535999 non-null  object
dtypes: int64(1), object(4)
memory usage: 12.3+ MB

In [2]:
delivery_requests = pd.read_csv('data/driver_locations_during_request.csv')
delivery_requests.head()

,id,order_id,driver_id,driver_action,lat,lng,created_at,updated_at
0,1,392001,243828,accepted,6.602207,3.270465,NaN,NaN
1,2,392001,243588,rejected,6.592097,3.287445,NaN,NaN
2,3,392001,243830,rejected,6.596133,3.281784,NaN,NaN
3,4,392001,243539,rejected,6.596142,3.280526,NaN,NaN
4,5,392001,171653,rejected,6.609232,3.288800,NaN,NaN

In [3]:
delivery_requests.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1557740 entries, 0 to 1557739
Data columns (total 8 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   id             1557740 non-null  int64
 1   order_id       1557740 non-null  int64
 2   driver_id      1557740 non-null  int64
 3   driver_action  1557740 non-null  object
 4   lat            1557740 non-null  float64
 5   lng            1557740 non-null  float64
 6   created_at     0 non-null        float64
 7   updated_at     0 non-null        float64
dtypes: float64(4), int64(3), object(1)
memory usage: 89.1+ MB

In [5]:
holiday_data = pd.read_csv('data/holiday_data.csv')
holiday_data.head()

         date              name                   type
0  2021-01-01    New Year's Day       National holiday
1  2021-02-14   Valentine's Day             Observance
2  2021-02-17     Ash Wednesday  Observance, Christian
3  2021-03-08       Women's Day             Observance
4  2021-03-14  Mothering Sunday             Observance

In [6]:
weather_data = pd.read_csv('data/weather_data.csv')
weather_data.head()

         date  temperature  rain
0  2021-07-01        301.8     0
1  2021-07-02        301.8     0
2  2021-07-03        301.8     0
3  2021-07-04        301.8     0
4  2021-07-05        301.8     0